extends ../layouts/default
block head
    link(href='/plugins/summernote/dist/summernote.css', rel='stylesheet')
    link(type='text/css', href='/vendor/fileupload/css/fileinput.css', media='all', rel='stylesheet')
    script(src='/plugins/summernote/dist/summernote.min.js')
    script(src='/vendor/fileupload/js/fileinput.js', type='text/javascript')
    script(src='/isu/js/oftenqna/edit.js', type='text/javascript')
    script(type='text/javascript').
        var oftenqnaObj = !{JSON.stringify(oftenqna).replace(/<\//g, '<\\/')};    
    script(src='/isu/js/search/qna_detail.js', type='text/javascript')

block content
    .content-page
        .content
            .container
                .row
                    .col-sm-12
                        .page-title-box
                            ol.breadcrumb.pull-right
                                li
                                    a(href='/search/user_qna') HOME
                                li
                                    a(href='/search/user_qna') SD 기본정보
                                li.active 자주묻는 질문과답
                            h4.page-title 자주묻는 질문과답
                .row
                    .col-sm-12
                        .btn-toolbar.m-t-10(role='toolbar')
                            .pull-left
                                .btn.btn-primary.waves-effect.waves-light.m-l-5(onclick="location.href='/search/user_qna'")
                                    i.fa.fa-list-ul
                                    |  목록
                                button.btn.btn-primary.waves-effect.waves-light.m-l-5(type='button' onClick='window.print();')
                                    i.fa.fa-print
                                    |  인쇄

                .row
                    .col-lg-12
                        .card-box.m-t-10
                            .p-20
                                form.form-horizontal.group-border-dashed(id='form' name='form')  
                                    .form-group(style='display:none')
                                        label.col-sm-2.control-label 상위업무코드
                                        .col-sm-2
                                            input.form-control(id='higher_cd', name='higher_cd', type='text', placeholder='', value='#{oftenqna.higher_cd}', readonly)
                                    .form-group
                                        label.col-sm-2.control-label 상위업무
                                        .col-sm-4
                                            input.form-control(id ='higher_nm', name='higher_nm', type='text', value='#{oftenqna.higher_nm}', readonly)                    
                                    .form-group
                                        label.col-sm-2.control-label 제목
                                        .col-sm-10
                                            input.form-control(name='title', type='text', value='#{oftenqna.title}', readonly)
                                    .form-group
                                        label.col-sm-2.control-label 첨부파일
                                        .col-sm-10
                                            input.form-control(name='attach_file', type='text', readonly)
                                    .form-group
                                        label.col-sm-2.control-label 내용
                                        .col-sm-10
                                            input.form-control(name='content', type='text' value='#{oftenqna.content}', readonly)

block footer



