//extends ../layouts/default

//block content
    .masthead.clearfix
        .inner
            h3.masthead-brand 수정
            nav
                ul.nav.masthead-nav
                    li.active
                        a(href='/question') 목록
                
            form.form.col-md-12.center-block(name='form' action='/question/#{question._id}/edit' method='post')
                .form-group
                    input.form-control.input-lg(type='text' placeholder='Title' name='question[title]' required value='#{question.title}')
                .form-group
                    input.form-control.input-lg(type='text' placeholder='작성자명' name='question[name]' value='')
                .form-group
                    input.form-control.input-lg(type='email' placeholder='e-mail' name='question[email]' value='')
                .form-group
                    input.form-control.input-lg(type='text' placeholder='아이디' name='question[user_id]' value='')
                .form-group
                    textarea.form-control.textarea(placeholder='내용' name='question[content]' style='height:150px' value='') #{question.content}
                .form-group
                    button.btn.btn-success.btn-lg.btn-block(type='submit') 저장
                .form-group
                    input.form-control.input-lg(type='hidden'  name='etcInfo[name]' value='Mr.Lee')
                .form-group
                    input.form-control.input-lg(type='hidden'  name='etcInfo[age]' value='22')
            

extends ../layouts/default
block head
    // summernot
    link(href='/plugins/summernote/dist/summernote.css', rel='stylesheet')
    // form summernote
    script(src='/plugins/summernote/dist/summernote.min.js')

    //첨부파일
    script(src='/vendor/fileupload/js/fileinput.js', type='text/javascript')
    link(href='/vendor/fileupload/css/fileinput.css', media='all', rel='stylesheet', type='text/css')

    link(href='/plugins/switchery/switchery.min.css', rel='stylesheet')
    link(href='/assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/core.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/icons.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/components.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/pages.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/menu_light.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/responsive.css', rel='stylesheet', type='text/css')

    script(src='/assets/js/modernizr.min.js')

    script(src='/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    script(src='/plugins/bootstrap-daterangepicker/daterangepicker.js')
    script(src='/isu/js/incident/edit.js')
    script(type='text/javascript').
        var incidentObj = !{JSON.stringify(incident).replace(/<\//g, '<\\/')};
    
    


block content
    .content-page
        .content
            .container
                .row
                    .col-sm-12
                        .page-title-box
                            ol.breadcrumb.pull-right
                                li
                                    a(href='/index') Home
                                li
                                    a(href='/incident/new') 문의 및 담당자
                                li.active 요청 재등록
                            h4.page-title 요청 재등록
                .row
                    .col-sm-12
                        .btn-toolbar.m-t-10(role='toolbar')
                            .pull-right
                                button#saveBtn.btn.btn-primary.waves-effect.waves-light.m-r-5(type='button')
                                    span 저장
                                    i.fa.fa-send.m-l-10
                .row
                    .col-lg-12
                        .card-box.m-t-10
                            .p-20
                                form.form-horizontal.group-border-dashed(id='form' name='form' action='/incident/new' method='post' enctype='multipart/form-data')  
                                    .form-group(style='display:none')
                                        label.col-sm-2.control-label 요청업무코드
                                        .col-sm-4
                                            input#higher_cd.form-control(type='text', name='incident[higher_cd]', readonly)
                                    .form-group
                                        label.col-sm-2.control-label 요청업무
                                        .col-sm-4
                                            input#higher_nm.form-control(type='text', name='incident[higher_nm]', readonly)
                                            
                                        label.col-sm-2.control-label 긴급구분
                                        .col-sm-2
                                            select.form-control(name='incident[process_speed]')
                                                option(value='N') 보통
                                                option(value='Y') 긴급     
                                    .form-group
                                        label.col-sm-2.control-label 요청자명
                                        .col-sm-4
                                            input.form-control(type='text', name='incident[real_register_mm]', style = "ime-mode:active", required, value=user_nm)
                                        label.col-sm-2.control-label 연락처
                                        .col-sm-4
                                            input.form-control(type='text', name='incident[real_contact]', id='real_contact', placeholder='전화번호 / hong@xxxx.co.kr', required)
                                    .form-group(id='app_menu', style='display:none')
                                        label.col-sm-2.control-label 문의요청 화면
                                        .col-sm-10
                                            input.form-control(type='text', name='incident[app_menu]', placeholder='인사관리>발령정보>발령처리' )                 
                                    .form-group
                                        label.col-sm-2.control-label 요청완료일
                                        .col-sm-4
                                            .input-group
                                                .input-group
                                                    input#datepicker-rcd.form-control(type='text', placeholder='yyyy/mm/dd', name='incident[request_complete_date]')
                                                    span.input-group-addon.bg-primary.b-0.text-white
                                                        i.ion-calendar
                                        //label.col-sm-2.control-label 공개여부
                                        //.col-sm-2
                                            .checkbox.checkbox-primary.checkbox-single.p-t-10
                                                input#singleCheckbox1(type='checkbox', value='Y', aria-label='Single checkbox One', name='incident[complete_open_flag]')
                                                label
                                    .form-group
                                        label.col-sm-2.control-label 제목
                                        .col-sm-10
                                            input.form-control(type='text', name='incident[title]', id='title' style = "ime-mode:active", required)
                                    .form-group(style='display:none')
                                        label.col-sm-2.control-label 
                                        .col-sm-10
                                            input.form-control(type='text', name='incident[categoryId]', value=incident_id)
                                    .form-group
                                        .col-sm-12
                                            textarea#summernote.summernote(name='incident[content]')
                                    .row
                                        .col-md-12.portlets
                                            .m-b-30
                                                //input#attach-file.file(name='incident[attach-file]',  type='file', data-upload-url="#", multiple)
                                                input#attach-file.file(name='incident[attach-file]', type='file', data-show-preview='false', data-show-upload='false', multiple)

block footer



